.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.btn {
  font-size: 1rem;
  text-transform: uppercase;
  padding: .8rem 3rem;
  border: 2px solid transparent;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--secondary);
}

.btn-primary:hover {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
}

.btn-secondary {
  border-color: var(--primary);
  background-color: transparent;
  color: var(--primary);
}

.btn-secondary:hover {
  background-color: var(--primary);
  border-color: transparent;
  color: var(--white);
}


@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
